body {
    text-align: center;
    font-family: sans-serif
}

li:hover > .cardimg {
    opacity: .9
}

.sneaky {
    display : none !important;
}

.MuiImageListItemBar-root {
    display: none;
}

li:hover > .MuiImageListItemBar-root {
    display: initial;
}
